@import "media";
*{
     /* 박스크기에 영향을 주지않음(안쪽여백,선) */
    box-sizing: border-box;
}
body,p{margin: 0;}
html,body{margin: 0;}
ul,li,ol{
    margin: 0; padding: 0; 
    list-style-type: none;
}
table{}
a{}
input,textarea{}
img{vertical-align: top;}


header{
    width: 100%;
    position: sticky;
    top:0;
    background-color: white;
}
/* 풋터, 버튼, 색상, 콘텐츠(컴포넌트)는 common.scss롤 빼줘야함 
    다중 페이지 공통 스타일 */
